section.lyrics
  h1.subtitle Lyrics 
  h3 Why Consonant Clusters? 
  
  .sidebyside
    a.image-links(href="https://en.wikipedia.org/wiki/International_Phonetic_Alphabet" target="_blank")
      img.diagram(src="/images/cck/consonant-illustrations/ipa2015.png")
    p.align-top Rather than the projection of sounds with Vowels, Consonant pronounciations require attention to restrictions and coordinations of various organs. The fundamental lesson of acquiring languages is to learn how to twist the tongue and form the vocal tracts differently accross new orthography of phoneme.  Often the obvious culprits for carrying an 'accents' is detected when one pronounces the same set of consonants in their mother tongue rather than in the target language. Accuracy is then measured by the means of our ability to flex in new manners. The following are information extracted mostly from Wikipedia as overviews of much deeper topics in articulation, phonology and orthography as explanations to the compostions of lyrics.   
    h3.underscore Places of Articulation
    .main-bloc
      a.image-links(href="http://clas.mq.edu.au/speech/phonetics/phonetics/introduction/vocaltract.html" target="_blank")
        img.diagram(src="/images/cck/consonant-illustrations/vocaltract.gif")
  .pronounciations
    .pronounce
      img.diagram(src="/images/cck/consonant-illustrations/alveolar.png")
      .stress Alveolar: 
      p.caption tongue against or close to the superior alveolar ridge /n/, /t/, /d/, /s/, /z/
    .pronounce
      img.diagram(src="/images/cck/consonant-illustrations/bilabial.png")
      .stress Bilabial: 
      p.caption both lips /m/, /p/, /b/
    .pronounce
      img.diagram(src="/images/cck/consonant-illustrations/Dental.png")
      .stress  Dental: 
      p.caption tongue against the upper teeth /t/, /d/, /n/
    .pronounce
      img.diagram(src="/images/cck/consonant-illustrations/Labiodentaal.png")
      .stress  Labiodental: 
      p.caption lower lip and the upper teeth /pf/, /f/, /v/
    .pronounce
      img.diagram(src="/images/cck/consonant-illustrations/Laryngaal.png")
      .stress  Guttural:
      p.caption 'of the throat' -- general back of the oral cavity, includes velar and uvular consonants (hanging down at the entrance to the throat). First used in Hebrew, subjectively used to denote harsher or grating sounds, partially used in French, Russian and Swabian German
    .pronounce
      img.diagram(src="/images/cck/consonant-illustrations/Palataal.png")
      .stress  Palatal: 
      p.caption body of the tongue raised against the hard palate (the middle middle part of the roof of the mouth); /j/, /y/es
    .pronounce
      img.diagram(src="/images/cck/consonant-illustrations/retroflex.png")
      .stress  Retroflex: 
      p.caption 'bent back' -- tongue has a flat, concave, or even curled shape, and is articulated between the alveolar ridge and the hard palate; /s/, /z/.  Depending on the point of contact with the roof, further back the more concave is the tongue, thus producing a more duller and lower pitch sound.  ie. Polish: cz, sz, ż (rz), dż,  Mandarin: zh, ch, sh, r. German: ç ich, Spanish ñ
    .pronounce
      img.diagram(src="/images/cck/consonant-illustrations/Velar.png")
      .stress  Velar: 
      p.caption back the tongue (the dorsum) against the soft palate (the back part of the roof of the mouth); /ng/, /k/, /g/. Most common consonant in human languages, since velar region is quite flexible and extensive, it's easily assimilate to other articulation depending in the adjacent vowel.
  h3.underscore Manners of articulation
  p.description In considering pronounciations, the study of articulation specifically -- manners in which the 'configuration and interaction of articulators (speech organs such as the tong, lips, palate)' controls stricture, formulate classification.  Here we understand how the body as a chamber of instructment is tuned for various dimensions of sound ranging from Obstruent, Sonorant, Liquid to Continuant 
  div
    .articulation
      ul 
        .stress Obstruent - obstructed airflow
        li Stop | Plosive | Occlusive - vocal tract is blocked so that all airflow is ceased, happens in 3 stages, 1. catch, 2. hold, and 3. release of air.
        li Fricative - forcing air flow through a narrow channel between two articulator, causing a turbulent flow of friction -- thus fricative. 
        li Afficate - begins as a stop, releases as a fricative
    .articulation
      ul 
        .stress Sonorant - continuous, undisturbed airflow
        li Nasal - escaping of air through the nose such as /n/, /m/
        li Approximant - when articulators are near each other but not exactly touching, with enough precision to still generate friction in airstream 
        li Flap | Trap - a single musle contraction of the articulator to thrust against another. No buildup, no release, ie /tt/
        li Trill - vibrations between the active articulator and passive articulator, ie. Spanish /rr/
        li Liquid - great degree of freedom in consonant clusters, consist of Rhotic, R like sounds /r/ and Lateral - where air is channeled along the edges of the tongue, while block by the tongue from traveling in the middle of the mouth 


    
        
  h3 Song Structure
    ul#songStructure
      li intro
      li verse
      li Pre-chorus
      li chorus
      li verse
      li Pre-chorus
      li chorus
      li bridge
      li verse
      li chorus
      li outro
//- 
//- # repetition
//-     td mh td mh
//-     ss mm ss ss
//-     ssm smm msm
//- 
//- # variation
//-     td mh td mh
//-     mh td md td
//-     td td md md
//- 
//- # mutation
//-     mm mh hh mm
//-     mh mm h h h
//- 
//- 
//- # two two - four
//-     # ch sz cshz
//-     # ch ch chsz
//-     xcz cv bh nk mkkl
//-     plk plkj kjh ghj fgt wqd
//-     fsj fds fgh
//- 
//- # elongation
//- t tz tzg tzgh
//- t st tsg tzst
//- 
//- 
//- # dwindling
//- rrsk rrsk sk t t
//- 
//- 
//- # a walk on the qwerty keyboard, neighbor tones
//-     t d b tdb db db hbd
//-     ghb ghy ght gty
//-     frt frg fbv bhn
//-     mnv jkfd sdfg dfgh fghj ghjk jkl
//-     zxc xcvvb vvbn bnmm nmm nmm nm
//- 
//-     qwr qwrrt qwrrty ty typ
//-     sssd sddf sddf dd ddfg hjjk kl k k
//-     zx zx zxcccvbn vnm
//- 
//- 
//- # alphabetical consonants
//-     bc df
//-     gh jkl mn
//-     pqrs tv wxzy
