ul.fixNav
  li
    a(href="#animation") Animation
  li
    a(href='#audio' data-ajax="false") Audio
  li
    a(href='#articulation' data-ajax="false") Articulation
  li
    a(href='#lyrics' data-ajax="false") Lyrics
