link(rel='stylesheet', href='/styles/nav.css')

a.logo(href='/') Q
nav.sidenav
  ul
    a(href="javascript:void(0)" class="closebtn" onclick="closeNav()") &times; 
    li
      a(href='/projects/cck' data-key="cck") cc. Karaoke
    li
      a(href='/projects/noble_self' data-key="noble_self") the Noble Self 
    //- li
    //-   a(href='/projects/linebyline' data-key="code_poetry ") Code Poetry 
    li
      a(href="/projects/chicken" data-key="chicken") OTA Chicken Soup 
    //- li
    //-   a(href="/projects/siri_conversation" data-key="siri_conversation") Siri's Conversation
    li
      a(href="/projects/impressions" data-key="impressions") Sedantary Imprints
    //- li
    //-   a(href="/projects/homeslice" data-key="homeslice") Homeslice
    li
      a(href="/projects/tangible_in" data-key="tangible_in") Tangible Intangibles
    //- li
    //-   a(href="/projects/schumacher" data-key="schumacher") Schumacher's dilemmas
    //- li
    //-   a(href="/projects/infrarack" data-key="infrarack") OF - InfraRack
    //- li
    //-   a(href="/projects/gusto" data-key="gusto") OF - Gusto
div.link#open(onclick="openNav()") 
  .open-wave ~
  .open-wave ~
  .open-wave ~

script(src='http://code.jquery.com/jquery-1.10.2.min.js')

script(type='text/javascript', src='/scripts/nav.js')
