ul.fixNav
  li
    a(href="#persuasion") Theory 
  li
    a(href='#podcast' data-ajax="false") Podcast
  li
    a(href='#analysis' data-ajax="false") Research Analysis
  li
    a(href='#generated' data-ajax="false") NLP txt Generation
