section#persuasion.parent
  h1.subtitle Modes of Persuasion
  .ethos.mode
    .circle
      .circle-container
        span.info-text.deg0 Software sellers want to divide the users and conquer them, making each user agree not to share with others. I refuse to break solidarity with other users in this way. I cannot in good conscience sign a nondisclosure agreement or a software license agreement.<br/>
          a(href="https://www.gnu.org/gnu/manifesto.en.html" target="_blank")
            em The GNU Manifesto - Richard Stallman, 1985
        
        span.info-text.deg45 My name is Cody and I'm a hardware hacker. It started at the age of five, taking apart a toy computer to figure out how it worked. I live for that thrill of discovery and rush of power that I feel when I figure out what makes something tick, then figure out how to bend it to my will. This has led to me hacking everything from game consoles to phones. <br/>
          a(href="http://demoseen.com/blog/2010-09-21_The_Hardware_Hacker_Manifesto.html" target="_blank")
            em The Hardware Hacker Manifesto - Cody Brocious, 2010
        span.info-text.deg180 In 1999 I wrote the Lowtech Manifesto. That small document has been widely circulated, quoted and translated, and seems to have influenced, and encouraged) a large number of people concerned with developments at the cutting edge of digital culture. <br/>
          a(href="https://robvankranenburgs.wordpress.com/2007/10/11/james-wallbank-says-the-zero-dollar-laptop-manifesto/" target="_blank")
            em Zero Dollar Laptop Manifesto Notes - James Wallbank, 2007
        span.info-text.deg225 Note: This manifest was posted in an forum as a respnse to a bitcoin-sceptic asking "bitcoins - isn't this simply a distributed structure to do capitalism with? " <br/>
          a(href="https://bitcointalk.org/index.php?topic=5671.0" target="_blank")
            em The Bitcoin Manifesto — Jaromil, 2011 
        span.info-text.deg315 We advocate freeware and low cost software. We particularly advocate the use of low cost, open source operating systems. <br/>
          a(href="http://lowtech.org/projects/n5m3/" target="_blank")
            em Lowtech Manifesto — James Wallbank, Amsterdam, 2009 
    .text
      h3.mode-title Ethos
      p ethics, speaker's credibility, proof of character
      em Trust me 
      
    
  .pathos.mode
    .circle
      .circle-container
        span.info-text.deg0 In attractive flocks, passionate swarms and boisterous schools, we sow ourselves into new contexts and eras. This book is a spontaneously organizing, clustering community project with a single purpose – Kopimi shall be deepening, propagating, and all-consuming. <br/>
          a(href="https://thepiratebay.org/torrent/4821238/POwr__Broccoli_and_KOPIMI_plus" target="_blank")
            em POwr, Broccoli and Kopimi 2009
        span.info-text.deg45 With enough of us, around the world, we'll not just send a strong message opposing the privatization of knowledge - we'll make it a thing of the past. Will you join us? <br/>
          a(href="http://archive.org/stream/GuerillaOpenAccessManifesto/Goamjuly2008_djvu.txt" target="_blank")
            em Guerilla Open Access Manifesto - Aaron Swartz, Italy 2008
        span.info-text.deg135 We are creating a world that all may enter without privilege or prejudice accorded by race, economic power, military force, or station of birth. […] lovers of freedom and self-determination […] <br/>
          a(href="https://vimeo.com/111576518" target="_blank")
           em A Declaration of the Independence of Cyberspace — Davos, Switzerland 1996
        span.info-text.deg225 Audience are whom selected/ filtrated by the exclusive web language encrypted well and beautifully. […] The balcony-scene creates community rather than commodity Proud of web culture, and what was built with pun, fun,  pursuit to equity. Nothing wins. Nothing is sacred to be taken seriously on the balcony. <br/>
          a(href="http://artpapers.org/feature_articles/feature3_2014_0304.html" target="_blank")
           em Balconism — Constant Dullaart, 2015
    .text
      h3.mode-title Pathos
      p emotional effects on the audiences 
      em I love you 
  .logos.mode
    .circle
      .circle-container
        span.info-text.deg45 But other creative fields that found their products in phase with the realities of the Internet and information technology are experiencing an unprecedented flood of freely available creative content. Industries that once dominated these fields and have not adapted to this reality are quickly becoming redundant. <br/>
          a(href="https://www.ronen-kadushin.com/open-design-manifesto/" target="_blank")
            em Open Design Manifesto - Ronen Kadushin, 2010
        span.info-text.deg135 its just not right that all what we do is in the hands of a third party, that has been caught cheating already many times: look at what happened at the paypal accounts of the Iraqi linux user group back in 2004, or even more recently to Wikileaks. <br/>
          a(href="https://bitcointalk.org/index.php?topic=5671.0" target="_blank")
            em The Bitcoin Manifesto — Jaromil, 2011 
        span.info-text.deg315 It is because of the acceleration of multiple areas of life, that islands of deliberate slowness are made possible and essential for survival. Slow Media are not a contradiction to the speed and simultaneousness of Twitter, Blogs or Social Networks but are an attitude and a way of making use of them. <br/>
          a(href="http://en.slow-media.net/manifesto" target="_blank")
            em The Slow Media Manifesto - Stockdorf and Bonn, 2010
    .text
      h3.mode-title Logos
      p logical arrangements of evidence, rational reasoning 
      em The Stakes are clear
      
