section.utterances
  h1.subtitle Collective Utterances - Generated excerpts
  p.description We seek metaphors and simile, compare opposition/accusations, and resonate with calls to action. 
    examples :         
    | Applying linguistic methods, we were able to reconstructure new utterances that falls under similar sentence structures. 
  div.link 
    a(href="https://github.com/qclin/spacy_man_gen" target="_blank") [source code]
  h3.underscore Oppositional : You vs Us
    
  p You claim there are problems among us that you need to solve.
  object.svg-visualizer(data="/images/nobleSelf/no_sovereignty.svg" type="image/svg+xml")
  p Our highest priority is to satisfy the customer through early and continuous delivery of valuable software
  object.svg-visualizer(data="/images/nobleSelf/delivery_software.svg" type="image/svg+xml")
    
