section#podcast
  div.box
    iframe(width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/356188508&amp;color=%23878787&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;show_teaser=false&amp;visual=true")          
  h1.subtitle History-telling, of narrated prospects
  h3 Podcast track content includes: 
  ul.citation.info-text
      li#interview Interview with Moreshin Allahyari as the author of the 
        a(href="http://additivism.org/manifesto") 3D Additivist Manifesto 
        | on the production of such genre: motivations? call to action? audience reception -- expected/unintended; change of perspectives thoughout the manifestation, comparison of new age Manifesto versus the first wave manifesto from the futurist 
        .readings
          audio(controls controlsList="nodownload") Your browser does not support the <code>audio</code> element.
            source(src="/audio/Morehshin Interview Edited.wav" type="audio/wav")
      li#sour-generation 
        .caption Reading of the 
          em Sour Generation Manifesto 
          | by He Wei in English, Chinese, Japanese and German. 
        p.
          The Sour Generation describes the young Chinese artists today that are not bitter like the prior generation nor sweet but quite sour.<br/><br/>
          While many may identify Chinese contemporary art with the post-cultural revolution of the 80s or “cynical realism” of the 90s, a new generation of Chinese artists and designers has emerged to elevate the form to the next level.<br/><br/>
          Unlike our predecessors, this new wave of creators is a globalized, post-internet generation seeking to find China’s identity in the 21st century and its place in the broader world, often through humor, flirtation with taboos and an irreverent view of the world and issues surrounding us. <br/><br/>
          Our works look forward, not back; are light and neon, not dark and rebellious; and imbued with a confidence of being able to shape an ever-changing society.<br/><br/>
          Translation by Colin Wang
          
        p.
          Die Sauere Generation beschreibt die jungen chinesischen Künstler von heute. Sie sind nicht bitter wie die vorherige generation. Süß sind sie auch nicht, aber definitiv sauer. <br/><br/>
          Zeitgenössische Chinesische Kunst wird of mit der Post-Kultur-Revulution der 80er oder mit dem "Zynischen Realismus" der 90er Jahre verbunden. Jedoch entstand hieraus eine neue generation an Künstlern, die zeitgneoessiche chinesische Kunst auf ein neue Niveau heben. <br/><br/>
          Die neue Generation ist global und post-Internet. Sie sind auf der Suche Chinas Identität im 21ten Jahrhundert und im globalen Kontext. Humor, der Flirten mit Taboos und ein rebellische Blick auf die Welt und ihre Probleme sind die Mittel dieser neuen Generation. <br/><br/>
          Unsere Arbeiten richten den Blick nach vorne, nicht nach hinten. Voller Zuversicht, die ständig wandelnde Gesellschaft beeinflussen zu können. <br/><br/>
          Translation by Niklas May
        p.
          “巨酸一代”是指中国当今新一辈的年轻艺术家，没有继承上一代苦大仇深的反抗，也远未到达甜蜜时期的自由，他们不太”苦“，也不太”甜“，正处于（实验性和表达自我的）“酸”时期。<br/><br/>
          或许很多人都在用上世纪80年代后文革语境，或90年代的犬儒式现实主义风格，来定义中国的当代艺术，殊不知新一代中国艺术家和设计师正在引领一个全新的阶段。<br/><br/>
          与我们的前辈不同，中国新一代创作者是在全球化、以及后互联网时代背景下成长。<br/><br/>
          我们通过幽默调侃的方式探讨禁忌、以倔强的态度讨论发生在身边的事件，并不断寻觅着21世纪中国 在世界的新身份。<br/><br/>
          我们的作品展望未来，并非固守历史；我们的作品明亮欢愉，而非悲观反叛；我们是自信的，参与塑造着这个动态变化中的世界。<br/><br/>
          Original Script by He Wei
        p.
          サワージェネレーションとは若い中国人アーティストのことを表しています。
          前の世代のようにビターでもなく、甘くもなくとても酸っぱい。<br/><br/>
          多くの人は　文化大革命以降の80年代　や　90年代のシニカル・リアリズム　を中国現代アートとみなしますが、<br/><br/>
          芸術形式を次のレベル（段階）へ高めるために新世代の中国人アーティストやデザイナーが登場しました。<br/><br/>

          先人とは異なり、グローバル化された　インターネット世代以降の新しいクリエーターの波は、ユーモアでタブーと戯れ（ふざけ）、私たちを取り巻く世界や問題への不遜(ふそん)な視点で　21世紀の中国のアイデンティティや世界での中国の場所を探し求めています。<br/><br/>
          私たちの作品は、<br/>
          　過去を振り返るのではなく未来を見ています。<br/>
          　明るいネオン <br/>
          　暗くて反抗的ではなく <br/>
          　ダイナミックな社会を形成できると確信しています。<br/><br/>
          Translation by Yumi Nishida
          
        .readings
          audio(controls controlsList="nodownload") Your browser does not support the <code>audio</code> element.
            source(src="/audio/Sour Generation Multilingual.wav" type="audio/wav")
      li Generated excerpts with natural language processing. 
