ul.fixNav
  .blur-background
  em Void Dis_Play
  li
    a.page-link(href="#Dis_Set" data-key="Dis_Set") Construction Set
  li
    a.page-link(href='#Dis_Footage' data-key="Dis_Footage") Footage
  em Audi_Proj
  li
    a.page-link(href='#Proj_Set' data-key="Proj_Set") Construction Set
  li
    a.page-link(href='#Proj_Footage' data-key="Proj_Footage") Footage
