doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    meta(name='keywords', content='Qiao, a coder - aspiring poet')
    meta(name='description', content='Description')
    meta(name='og:title', content=typeof(title) !== 'Qiao' ? title : 'poet')
    link(rel='shortcut icon', href='./images/favicon.jpg', type='image/x-icon') 
    link(href="https://fonts.googleapis.com/css?family=Inconsolata|Merriweather" rel="stylesheet")
    link(rel='stylesheet', href='./styles/main.css')
    
    title Qiao 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
  body
    p.about-me
      |Repetition drives expertise. 
      br
      br
      |Qiao, is a coder, aspiring poet and post-architect. 
      | Currently mingling with other enthusiastic creatures at the
      a(href="http://sfpc.io/" target="_blank") School of Poetic Computation. 
      | Just recovered from a 
      a(href="http://qiaoclin.com:8080/" target="_blank") bike-trip around the island of Taiwan, 
      a(href="http://berlin.goodpatch.com" target="_blank") Goodpatch. 
    a.contact-email(href="mailto:qiaoclin@gmail.com") Available for collaboration
    
    
    section.projects 
      p Some of my day dream sketches
      
      h3.project-title#chicken Over the Air Chiken Soup 
      
      p.project-description
        | Is a 
        a(href="https://github.com/qclin/imageScrape" target="_blank") scraping script 
        | for search engine images while working for artist Trevor Paglen. 
        | Reappropiated to spam 1000 Chicken Soup images when a dear friend has a cold and you simply cannot reach.
      
      h3.project-title Conversations with many Siri
      p.project-description
       | Speech to text Transcriptions, text to text Translation, and text to speech Utterances.  
       a(href="https://medium.com/@qaarlions/conversations-with-many-siri-3e5f379066b0" target="_blank") A presentation for Cocaoheads
       | (iOS developers) on Cloud solutions for IoT products.
       
      
      h3.project-title Life is not just a stage 
      
      p.project-description
        | @Hamburg Fisch markt 
        a(href="https://medium.com/@qaarlions/fischmarkt-in-hamburg-e4f6ff254593" target="_blank") observation notes 
        | of market stall performances on a typical Sunday. 
      
      
      h3.project-title excuse me,  A  K  M-Y
      
      p.project-description
        a(href="http://akm-y.com/") portfolio site 
        | for a partner in crime, together we are  * ~ Al Gusto ~ * a production duo on speculative fiction. 
      
      h3.project-title Homeslice
      
      p.project-description
        | A sprite 
        a(href="https://github.com/qclin/homeSlice/blob/master/project-idea.md" target="_blank") scene game 
        | built on satelittle view of Jeffersonian agriculture landscape,
        | tranversing portals to randomize parts of the google earth street view. 
      
    
      h3.project-title.deprecated Feelz 
      
      p.project-description.deprecated
        a(href="https://github.com/sleepylemur/feelz" target="_blank") a hackathon project 
        | on emotional tweets accross Manhattan
        | using Watson API from IBM to diagnosis the sentiments of residents's tweets.  
        | Rendering blue and red clouds in realtime across city blocks. 
      
      
      h3.project-title  Speculation of Vertical farming
      
      p.project-description
        a(href="http://3qoo.tumblr.com/" target="_blank") fabrications for artist Ben Schumacher
      
      p.project-description
        a(href="/arch") architectural adventures
    object.homeCanvas(data="/vectors/test2.svg")
    
