doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    meta(name='keywords', content='Berlin based, Coder, Poet, Hacker, Linguist')
    meta(name='description', content='Berlin based Coder')
    meta(name='og:title', content=typeof(title) !== 'Qiao' ? title : 'poet')
    link(rel='shortcut icon', href='./images/favicon.jpg', type='image/x-icon') 
    link(href="https://fonts.googleapis.com/css?family=Inconsolata|Merriweather" rel="stylesheet")
    link(rel='stylesheet', href='./styles/main.css')
    link(rel='stylesheet', href='./styles/index.css')
    link(rel='stylesheet', href='./styles/m-index.css')

    title Qiao 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
  body
    p.about-me Qiao is a coder, aspiring poet, and ex-architect.
      br
      br
      | Currently hibernating in Berlin, pre-flight to participate in 
      a.organization.red-text(href="https://thenewnormal.strelka.com" target="_blank") the New Normal '18
      | . Occupied with prototyping she was previously a software engineer at 
      a.organization.blue-text(href="http://berlin.goodpatch.com/" target="_blank") Goodpatch Gmbh
      |  working with startups and traditional enterprises. Commited to mingle with other enthusiastic creatures at the 
      a.organization.green-text(href="http://sfpc.io/" target="_blank") School of Poetic Computation
      | , in an redemptative act from agency hustle. She savors long distance cycling with her 
      a(href="http://qiaoclin.com:8080/" target="_blank") 35mm film camera. 
      em Solitude is the party of one.
    a.contact-email(href="mailto:qiaoclin@gmail.com") Available for collaboration
    
    p.quote Drink deep, or taste not the Perisian Spring
    
    
    h1.sketch Some day dream sketches:

    section.projects 
      section.sub-section
        h1.mmm Linguistics
        img.preview(src="/images/preview/IMG_7432.JPG")
        .project
          a.clickable(href="/projects/cck")
            h3.title#cck(data-key="/images/preview/IMG_7432.JPG") Consonant Clusters Karaoke
          p.description Built in openFrameworks, a singing machine that teases at the ranges of possible phonetic sounds. As part of School of Poetic Computation showcase, over a hundred participants sang over the course of three days. 
            
        .project
          a.clickable(href="/projects/noble_self")
            h3.title#nobleSelf(data-key="/images/preview/manifesto.jpg") Manifesto for the Noble Self 
          p.description A podcast episode on Manifestos for the Internet Age, via interviews, generative text with natural language processing, and human-machine readings 

        .project
          //- a(href="/projects/code_poetry")
          h3.title(data-key="/images/preview/eineEier.png") Code Poetry 
          p.description A series of exploration in 
            a(href="https://twitter.com/eine_eier" target="_blank") generative text 
            | with mathematical and natural language processing procedures at the School of Poetic Computation
        
      section.sub-section
        h1.mmm.long Platform hacks
        .project
          a.clickable(href="/projects/chicken")
            h3.title#chicken(data-key="/images/preview/chicken.png")  Over the Air Chiken Soup 
          p.description
            | Is a scraping script for search engine images while working for artist Trevor Paglen. Reappropiated to spam 1000 Chicken Soup images when a dear friend has a cold and you simply cannot reach.
        .project
          h3.title(data-key="/images/preview/siri_conversation.png") Conversations with many Siri
          //- img.preview(src="/images/preview/siri_conversation.png")
          p.description Speech to text Transcriptions, text to text Translation, and text to speech Utterances.  
           a(href="https://medium.com/@qaarlions/conversations-with-many-siri-3e5f379066b0" target="_blank") A presentation for Cocaoheads
           | (iOS developers) on Cloud solutions for IoT products.
        .project
          a.clickable(href="/projects/homeslice")
            h3.title(data-key="/images/preview/homeslice.png") Homeslice
          p.description A sprite game built on satelittle view of Jeffersonian agriculture landscape, tranversing portals to randomize parts of the google earth street view. 
  
        
      section.sub-section
        h1.mmm Field notes
        .project
          h3.title(data-key="/images/fujifilm/003_3A.jpg") Life is not a stage 
          p.description Hamburg Fisch markt 
            a(href="https://medium.com/@qaarlions/fischmarkt-in-hamburg-e4f6ff254593" target="_blank") observation notes 
            | of market stall performances on a typical Sunday. 
        .project
          a.clickable(href="/projects/feelz")
            h3.title(data-key="/images/preview/feelzio.png") Feelz.io
          p.description a simulation of emotional tweets accross Manhattan using Watson API from IBM to diagnosis the sentiments of residents's tweets. Rendering blue and red clouds in realtime across city blocks. 
        .project
          a.clickable(href="/projects/impressions")
            h3.title#impressions(data-key="/images/preview/impressions.jpg") Impressions
          p.description Foam core, the architectural Play-Doh for formalist diagrams, dead-panned into brick-size blocks for meditative sitting. Instructed a class of colleagues to sit for an hour on this costly, precious, blue foam; trading fantasies for material conscience.  

      section.sub-section
        h1.mmm Architecture
        .project
          h3.title(data-key="/images/preview/akmy.png")  AKM-Y
          p.description
            a(href="http://akm-y.com/" target="_blank") portfolio website 
            | for a partner in crime, together we are  * ~ Al Gusto ~ * a production duo on speculative fiction. 
        .project
          a.clickable(href="/projects/tangible_in")
            h3.title#tangibles(data-key="/images/preview/SM_TIME_Stack.jpg") Tangible Intangibles
          p.description Architecture as Logistics: as coordinations of program schedules, spatial scores, stage instructions. A utilitarian code of conduct which sets the parameters for participation, interpretation and imagination. 
        .project
          h3.title(data-key="/images/preview/schumacher.jpg") Speculations
          p.description
            a(href="http://3qoo.tumblr.com/" target="_blank") Digital artifacts 
            | fabricated for a speculative future of urban farming with artist Ben Schumacher
    
    script(src='http://code.jquery.com/jquery-1.10.2.min.js')

    script(type='text/javascript', src='/scripts/main.js')
