doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    meta(name='keywords', content='Berlin based, Coder, Poet, Hacker, Linguist')
    meta(name='description', content='Berlin based Coder')
    meta(name='og:title', content=typeof(title) !== 'Qiao' ? title : 'poet')
    link(rel='shortcut icon', href='./images/favicon.jpg', type='image/x-icon') 
    link(href="https://fonts.googleapis.com/css?family=Inconsolata|Merriweather" rel="stylesheet")
    link(rel='stylesheet', href='./styles/skeleton/normalize.css')
    link(rel='stylesheet', href='./styles/skeleton/skeleton.css')
    link(rel='stylesheet', href='./styles/works.css')

body
  .container
    .row
      .one-half.column
        p Qiao is a software engineer specialised in iOS and Front-end development with experiences in full-stack integration. Previously at  
          a.organization.blue-text(href="http://berlin.goodpatch.com/" target="_blank") Goodpatch Gmbh 
          | where she prototyped from zero to one, working closely with designers and product owners to iterate and improve products. 
      .one-half.column
        h3.u-pull-right Q
        .info
          span Current
          p Freelancer New York, Berlin, Moscow
          span Contact 
          p qiaoclin@gmail.com
          p
            a(href="https://github.com/qclin" target="_blank") github.com/qclin 
    //- project
    h5.selected Selected Works
    .row
      .one-half.column
        a(href="https://mitte.co/our-technology/" target="_blank")
          h3.title Mitte
        img.u-max-full-width(alt="project title" src="/images/clients/mitte-app-user-02.jpg")
        p.description IoT application for home water filtration unit Researched & evaluated cloud platforms to design software architecture Prototype mobile application with IoT technology: bluetooth, NFC, RFID
        table 
          tr
            td Client 
            td mittemitte GmbH
          tr
            td Stages
            td Research, Development, Testing
          tr
            td Responsiblity
            td iOS Developer
          tr
            td Platform
            td IoT, iOS application, Cloud Engine
          tr
            td Technology
            td Swift | Firebase | Bluetooth | NodeJS
      .one-half.column
        a(href="https://www.balto.io/" target="_blank")
          h3.title.inline Balto
        span 
        img.u-max-full-width(alt="project title" src="/images/clients/balto-set.png")
        p.description a QA tool to streamline feedback loop for internal development. Contributed to open source code for licensure accreditation developed iOS application with Authentication, sessions, data persistence
        table 
          tr
            td Client 
            td Goodpatch Inc. (Tokyo Office)
          tr
            td Stages
            td Prototype, Development
          tr
            td Responsiblity
            td iOS Developer
          tr
            td Platform
            td iOS application / SDK, Web Dashboard
          tr
            td Technology
            td Swift | ReactJS | Shell Script
    .row
      .one-half.column
        a(href="https://medium.com/goodpatch-berlin/translating-a-traditional-publishing-company-in-the-digital-age-a53ee3f15220" target="_blank")
          h3.title Weka
        img.u-max-full-width(alt="project title" src="/images/clients/weka-laptop.jpeg")
        p.description IoT application for home water filtration unit Researched & evaluated cloud platforms to design software architecture Prototype mobile application with IoT technology: bluetooth, NFC, RFID
        table 
          tr
            td Client 
            td WEKA MEDIA GmbH & Co. KG
          tr
            td Stages
            td Development, Bug-Fixing, Testing, Production
          tr
            td Responsiblity
            td Sole Front-end Engineer
          tr
            td Platform
            td Responsive Web esp. Internet Explorer & PC users 
          tr
            td Technology
            td ReactJS | Webpack | VPN | Virtual Env
      .one-half.column
        a(href="https://www.lykon.de/" target="_blank")
          h3.title Vimeda
            span (now Lykon)
        img.u-max-full-width(alt="project title" src="/images/clients/vimeda-cropped.png")
        p.description dashboard to visualize biomarkers measured from home blood-testing kit continuous development from ideation, integration to production pair-programmed to assure data security in the supply chain Testing to secure user data in the process of matching biomarker results, via salting unique identifiers, and tokenize authentication. 
        table 
          tr
            td Client 
            td Vimeda GmbH
          tr
            td Stages
            td Ideation, Development, QA, Production
          tr
            td Responsiblity
            td Pair-programmed Front-end Engineer
          tr
            td Platform
            td Desktop Dashboard, API Protocols, Anonymous Encryption for Shipping 
          tr
            td Technology
            td Angular | Gulp | Sass | Jade | OAuth

    
    //- contact
      
