

.about-me{
  white-space: pre-line;
  max-width: 450px;
  width: 80%;
  margin: 2em;
}
.contact-email{
  margin-left:2em;
}
.organization{
  text-decoration: underline;
}
.organization:hover{
  font-style: italic;
  color: white;
  text-decoration: none;

}
h3.title{
    font-size: 24px;
    margin-top: 0;
}

a h3.title:hover{
  text-decoration: underline;
}
a{
  cursor: pointer;
}

p.description{
  margin-top: 0;
  margin-right: 2em;
}

.project{
  position: relative;
  width: 30%;
  display: inline-block;
  vertical-align: top;
  padding: 1em;
}

.reveal{
  display: block !important;
}
img.preview{
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  max-height: 500px;
  max-width: 400px;
  box-shadow:  2px 2px 4px blueviolet;
}


.deprecated{
  color: lightgray;
  text-decoration: line-through;
}

#chicken{
  color: beige;
  text-shadow: 2px 1px #ff0000;
}

section.sub-section {
  position: relative;
}

.title{
  border: dashed #ffffff;
  display: inline-block;
  border-width: 0px 0 1px 0;
  margin: 0 0 .5em 0;
}
.mmm{
  border-bottom: double white;
  position: absolute;
  left: -4em;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Safari 3-8 */
  transform: rotate(-90deg);
  top: 1em;
}
.mmm.long{
  left: -5em;
}
.projects{
  /* background: url('/images/preview/IMG_7432.JPG') no-repeat center center fixed; */
 -webkit-background-size: contain;
 -moz-background-size: contain;
 -o-background-size: contain;
 background-size: contain;
}

h1.sketch{
  border: dashed #4176d0;
  border-width: 0px 0 1px 0;
  padding: 1em 0 .8em 0;
  margin:.5em;
  text-shadow: 2px 2px 4px #4176d0;
  font-size: 30px;
  font-style: italic;
  color: white;
}
.legible{
  background: white;
  border: 1px dashed #00F;
}
