@import "typography.css";

.homeCanvas{
    width:2914px;
    height:2543px;
}
.imageLink{

}
a {
  text-decoration: none;
}
p{
  line-height: 1.3em;
}
section.projects {
  margin: 2em;
  margin-top: 8em;
}
section.projects h1 {
  font-size: 18px;
  font-style: italic;
  font-weight: 100;
  color: lightgray;
}
section.projects a{
  color: blue;
}

.box{
  border: double #ffffff;
  padding: 13px;
}
