.homeCanvas{
    width:2914px;
    height:2543px;
}
.imageLink{

}
body{
  font-family: 'Inconsolata', monospace;
}

h1,h2,h3,h4,h5,h6{
  /*font-family: 'Merriweather', serif;*/
  font-family: 'Inconsolata', monospace;
}
a {
  text-decoration: none;
}
p{
  line-height: 1.3em;
}
.about-me{
  white-space: pre-line;
  width: 400px;
  margin: 2em;
}
.contact-email{
  margin-left:2em;
}
section.projects {
  max-width: 580px;
  width: 80%;
  margin: 2em;
  margin-top: 8em;
}
section.projects h1 {
  font-size: 18px;
  font-style: italic;
  font-weight: 100;
  color: lightgray;
}
h3.project-title{
    margin-top: 3em;
}
section.projects a{
  text-decoration: underline;
  color: blue;
}
#chicken{
  color: beige;
  text-shadow: 2px 1px #ff0000;
}

.deprecated{
  color: lightgray;
  text-decoration: line-through;
}
