
@media only screen and (min-device-width : 1024px) {
  .title{
    font-size: 35px;
    line-height: 38px;
    padding: 1em 0 .8em 0;
    margin: 0 0 .5em 0;
  }
}




.title{
  font-family: "FranziskaWeb-MediumItalic";
  color: #44494C;
  font-style: italic;
}

body{
  font-family: 'Inconsolata', monospace;
}


h1,h2,h3,h4,h5,h6{
  font-family: 'Merriweather', serif;
  /*font-family: 'Inconsolata', monospace;*/
  font-weight: normal;
}

.stress{
  font-style: italic;
}


.info-text{
  font-family: "FranziskaWeb-MediumItalic";
  font-size: 12px;
}


.quote{
  font-family: "FranziskaWeb-MediumItalic";
  font-size: 24px;
  font-style: italic;
  color: white;
  position: relative;
  float: right;
  width: 200px;
  margin: 3em;
}

.quote:hover{
  text-shadow: 2px 2px 4px gray;
}
.red-text:hover{
  text-shadow: 2px 2px 1px #FF0000;
}

.green-text:hover{
  text-shadow: 2px 2px 1px #00FF00;
}

.blue-text:hover{
  text-shadow: 2px 2px 1px #0000FF;
}
