
p.description{
  font-family: "FranziskaWeb-MediumItalic";
  color: #44494C;
}

h3.title{
  font-family: 'Inconsolata', monospace;
}

h3.title span{
  font-size: 17px;
  text-decoration: none;
  padding-left: 12px;
  font-style: italic;

}
table{
  /* font-size: 11px; */
  font-family: 'Inconsolata', monospace;
}

th, td{
  padding: 0 10px;
}

td:first-of-type{
  font-weight: bold;
}

td{
  /* line-height: 1.2em; */
}

.selected{
  margin-top: 1em;
  border-bottom: double #00F;
}

.container{
  margin-top: 3em;
}


.info p{
  margin-bottom: 1em;
}

.info span{
  font-weight: bold;
}
