doctype html 
html 
  head 
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='/styles/project.css')
  body#homeSlice
    include ../partials/nav.pug
    section.project-content
      h1.title Homeslice
      p.description For the hermits yet to converted to urbanism, who has desire to explore the earth as a whole.
      img(src="/images/homeSlice/allPlaces.png")

      p.description Can the web portal us to already-documented planes, to surveilled horizons above and to long-lusted sceneries? 
      img(src="/images/homeSlice/landing.gif")

      p.description When the search engine respond. . . can one even distinguish where we've landed? Can we even tell in this ocean of database, which LatLng has been pinpoint? 
      img(src="/images/homeSlice/glitch.png")
      .caption Will we guess Connecticut for Croatia, Tennessee for Taiwan?
      
      p.description Are we going to doubt our pre-conceptions or question this virtual engine?
      img(src="/images/homeSlice/idea.png")

      p.description For producing these foreign yet familiar places.
      
      
      section.code-sample
        div.link 
          a(href="https://github.com/qclin/homeSlice" target="_blank") [source code]
        div.embed-container.box
          iframe(src="https://player.vimeo.com/video/130797068" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen)

      a#play(href="http://qiaoclin.com:1234/" target="_blank") &#x25B7; 
            

      

    
