doctype html 
html 
  head 
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='/styles/project.css')
  body#impressions
    include ../partials/nav.pug
    .adjust
      button.up(onclick=`move(event, 0)`) &#9650;
      .one-row
        button.left(onclick=`move(event, 1)`) &#9664;
        button.right(onclick=`move(event, 2)`) &#9654;
      button.down(onclick=`move(event, 3)`) &#9660;
      
    h1 Sedantary Prints 
    object.svg-impressions(data="https://s3.amazonaws.com/2018-portfolio/buttprints.svg" type="image/svg+xml")
      img(src="https://s3.amazonaws.com/2018-portfolio/buttprints.svg")

    
    script(src='http://code.jquery.com/jquery-1.10.2.min.js')
    script(type='text/javascript', src='/scripts/impressions.js')
