doctype html 
html 
  head 
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='/styles/project.css')
  body#noble-self
    include ../partials/nav.pug
    section.project-content
      h1.title Manifesto for the Noble Self 
      p.description A collaboration at the 
        a(href="http://sfpc.io" target="_blank") 
          span School of Poetic Computation 
        span produced as a podcast episode for 
        a(href="https://github.com/morehshin/TheRadicalOutside" target="_blank")
          span the Radical Outside, 
        | where we discussed what is at stake in the digital age: 
        em surveillance, digital colonialism, privacy/piracy, art and activism. 
      p.description While the internet offers us instances of sensational superficial trends to flock like swarms, it also provides safe havens for all clandestine congregations to write their own manifestos. 
        | Striked by the resurgent of 
        span.stress Manifestos 
        | as a genre for political agenda, we analyzed the anthology of 
        a(href="https://github.com/greyscalepress/manifestos/tree/master/content/manifestos" target="_blank")
          span.stress Manifesto for the Internet Age 
        | through Aristotles' modes of persuasion: 
        span.stress Ethos Pathos & Logos. 
        | Weeding out patterns of moral competences, emotional influences and rational reasoning. 
      
      section#persuasion.parent
        .ethos.mode
          .circle
            .circle-container
              //- span.deg0 0 
              //- span.deg45 45
              //- span.deg135 135 
              //- span.deg180 180
              //- span.deg225 225
              //- span.deg315 315  
              span.info-text.deg0 Software sellers want to divide the users and conquer them, making each user agree not to share with others. I refuse to break solidarity with other users in this way. I cannot in good conscience sign a nondisclosure agreement or a software license agreement.  
                a(href="https://www.gnu.org/gnu/manifesto.en.html" target="_blank")
                  em The GNU Manifesto - Richard Stallman, 1985
              
              span.info-text.deg45 My name is Cody and I'm a hardware hacker. It started at the age of five, taking apart a toy computer to figure out how it worked. I live for that thrill of discovery and rush of power that I feel when I figure out what makes something tick, then figure out how to bend it to my will. This has led to me hacking everything from game consoles to phones. 
                a(href="http://demoseen.com/blog/2010-09-21_The_Hardware_Hacker_Manifesto.html" target="_blank")
                  em The Hardware Hacker Manifesto - Cody Brocious, 2010
              span.info-text.deg180 In 1999 I wrote the Lowtech Manifesto. That small document has been widely circulated, quoted and translated, and seems to have influenced, and encouraged) a large number of people concerned with developments at the cutting edge of digital culture.  
                a(href="https://robvankranenburgs.wordpress.com/2007/10/11/james-wallbank-says-the-zero-dollar-laptop-manifesto/" target="_blank")
                  em Zero Dollar Laptop Manifesto Notes - James Wallbank, 2007
              span.info-text.deg225 Note: This manifest was posted in an forum as a respnse to a bitcoin-sceptic asking "bitcoins - isn't this simply a distributed structure to do capitalism with? "  
                a(href="https://bitcointalk.org/index.php?topic=5671.0" target="_blank")
                  em The Bitcoin Manifesto — Jaromil, 2011 
              span.info-text.deg315 We advocate freeware and low cost software. We particularly advocate the use of low cost, open source operating systems. 
                a(href="http://lowtech.org/projects/n5m3/" target="_blank")
                  em Lowtech Manifesto — James Wallbank, Amsterdam, 2009 
          .text
            h3.mode-title Ethos
            p ethics, speaker's credibility, proof of character
            em Trust me 
            
          
        .pathos.mode
          .circle
            .circle-container
              span.info-text.deg0 In attractive flocks, passionate swarms and boisterous schools, we sow ourselves into new contexts and eras. This book is a spontaneously organizing, clustering community project with a single purpose – Kopimi shall be deepening, propagating, and all-consuming. 
                a(href="https://thepiratebay.org/torrent/4821238/POwr__Broccoli_and_KOPIMI_plus" target="_blank")
                  em POwr, Broccoli and Kopimi 2009
              span.info-text.deg45 With enough of us, around the world, we'll not just send a strong message opposing the privatization of knowledge - we'll make it a thing of the past. Will you join us? 
                a(href="http://archive.org/stream/GuerillaOpenAccessManifesto/Goamjuly2008_djvu.txt" target="_blank")
                  em Guerilla Open Access Manifesto - Aaron Swartz, Italy 2008
              span.info-text.deg135 We are creating a world that all may enter without privilege or prejudice accorded by race, economic power, military force, or station of birth. […] lovers of freedom and self-determination […]
                a(href="https://vimeo.com/111576518" target="_blank")
                 em A Declaration of the Independence of Cyberspace — Davos, Switzerland 1996
              span.info-text.deg225 Audience are whom selected/ filtrated by the exclusive web language encrypted well and beautifully. […] The balcony-scene creates community rather than commodity Proud of web culture, and what was built with pun, fun,  pursuit to equity. Nothing wins. Nothing is sacred to be taken seriously on the balcony.  
                a(href="http://artpapers.org/feature_articles/feature3_2014_0304.html" target="_blank")
                 em Balconism — Constant Dullaart, 2015
          .text
            h3.mode-title Pathos
            p emotional effects on the audiences 
            em I love you 
        .logos.mode
          .circle
            .circle-container
              span.info-text.deg45 But other creative fields that found their products in phase with the realities of the Internet and information technology are experiencing an unprecedented flood of freely available creative content. Industries that once dominated these fields and have not adapted to this reality are quickly becoming redundant.
                a(href="" target="_blank")
                  em Open Design Manifesto - Ronen Kadushin, 2010
              span.info-text.deg135 its just not right that all what we do is in the hands of a third party, that has been caught cheating already many times: look at what happened at the paypal accounts of the Iraqi linux user group back in 2004, or even more recently to Wikileaks.
                a(href="https://bitcointalk.org/index.php?topic=5671.0" target="_blank")
                  em The Bitcoin Manifesto — Jaromil, 2011 
              span.info-text.deg315 It is because of the acceleration of multiple areas of life, that islands of deliberate slowness are made possible and essential for survival. Slow Media are not a contradiction to the speed and simultaneousness of Twitter, Blogs or Social Networks but are an attitude and a way of making use of them. 
                a(href="http://en.slow-media.net/manifesto" target="_blank")
                  em The Slow Media Manifesto - Stockdorf and Bonn, 2010

          .text
            h3.mode-title Logos
            p logical arrangements of evidence, rational reasoning 
            em The Stakes are clear
            
            
            
      div.box
        iframe(width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/356188508&amp;color=%23878787&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;show_teaser=false&amp;visual=true")          


      h3.underscore Track content: 
      ul.citation.info-text
          li#interview Interview with Moreshin Allahyari on the production of Manifesto as an author: motivations? call to action? audience reception -- expected/unintended; change of perspectives thoughout the manifestation, comparison of new age Manifesto versus the first wave manifesto from the futurist 
          li#sour-generation 
            .caption Reading of the 
              em Sour Generation Manifesto 
              | by He Wei in English, Chinese, Japanese and German. 
            
            p.
              The Sour Generation describes the young Chinese artists today that are not bitter like the prior generation nor sweet but quite sour. <br/><br/>
              While many may identify Chinese contemporary art with the post-cultural revolution of the 80s or “cynical realism” of the 90s, a new generation of Chinese artists and designers has emerged to elevate the form to the next level. <br/><br/>
              Unlike our predecessors, this new wave of creators is a globalized, post-internet generation seeking to find China’s identity in the 21st century and its place in the broader world, often through humor, flirtation with taboos and an irreverent view of the world and issues surrounding us. <br/><br/> 
              Our works look forward, not back; are light and neon, not dark and rebellious; and imbued with a confidence of being able to shape an ever-changing society. <br/><br/>
              Translation by Colin Wang
            p.
              Die Sauere Generation beschreibt die jungen chinesischen Künstler von heute. Sie sind nicht bitter wie die vorherige generation. Süß sind sie auch nicht, aber definitiv sauer. <br/><br/>
              Zeitgenössische Chinesische Kunst wird of mit der Post-Kultur-Revulution der 80er oder mit dem "Zynischen Realismus" der 90er Jahre verbunden. Jedoch entstand hieraus eine neue generation an Künstlern, die zeitgneoessiche chinesische Kunst auf ein neue Niveau heben.<br/><br/>
              Die neue Generation ist global und post-Internet. Sie sind auf der Suche Chinas Identität im 21ten Jahrhundert und im globalen Kontext. Humor, der Flirten mit Taboos und ein rebellische Blick auf die Welt und ihre Probleme sind die Mittel dieser neuen Generation.<br/><br/>
              Unsere Arbeiten richten den Blick nach vorne, nicht nach hinten. Voller Zuversicht, die ständig wandelnde Gesellschaft beeinflussen zu können. <br/><br/>
              Translation by Niklas May
            p.
              “巨酸一代”是指中国当今新一辈的年轻艺术家，没有继承上一代苦大仇深的反抗，也远未到达甜蜜时期的自由，他们不太”苦“，也不太”甜“，正处于（实验性和表达自我的）“酸”时期。<br/><br/>
              或许很多人都在用上世纪80年代后文革语境，或90年代的犬儒式现实主义风格，来定义中国的当代艺术，殊不知新一代中国艺术家和设计师正在引领一个全新的阶段。<br/><br/>
              与我们的前辈不同，中国新一代创作者是在全球化、以及后互联网时代背景下成长。<br/><br/>
              我们通过幽默调侃的方式探讨禁忌、以倔强的态度讨论发生在身边的事件，并不断寻觅着21世纪中国 在世界的新身份。<br/><br/>
              我们的作品展望未来，并非固守历史；我们的作品明亮欢愉，而非悲观反叛；我们是自信的，参与塑造着这个动态变化中的世界。<br/><br/>
              Original Script by He Wei
            p.
              サワージェネレーションとは若い中国人アーティストのことを表しています。 前の世代のようにビターでもなく、甘くもなくとても酸っぱい。<br/><br/>
              多くの人は　文化大革命以降の80年代　や　90年代のシニカル・リアリズム　を中国現代アートとみなしますが、芸術形式を次のレベル（段階）へ高めるために新世代の中国人アーティストやデザイナーが登場しました。<br/><br/>
              先人とは異なり、グローバル化された　インターネット世代以降の新しいクリエーターの波は、ユーモアでタブーと戯れ（ふざけ）、私たちを取り巻く世界や問題への不遜(ふそん)な視点で　21世紀の中国のアイデンティティや世界での中国の場所を探し求めています。<br/><br/>
              私たちの作品は、過去を振り返るのではなく未来を見ています。明るいネオン 暗くて反抗的ではなく ダイナミックな社会を形成できると確信しています。<br/><br/>
              Translation by Yumi Nishida
              
          li Generated excerpts with natural language processing. 
      
      p.description We looked for metaphors and simile, compared opposition accusations and resonated with calls to action. 
        examples :         
        | Applying linguistic methods, we were able to reconstructure new utterances that falls under similar sentence structures. 
      
      div.link 
        a(href="https://github.com/qclin/spacy_man_gen" target="_blank") [source code]
  section.sub-section
    h3.underscore Oppositional : You vs Us
      
    p You claim there are problems among us that you need to solve.
    object.svg-visualizer(data="/images/nobleSelf/no_sovereignty.svg" type="image/svg+xml")
    p Our highest priority is to satisfy the customer through early and continuous delivery of valuable software
    object.svg-visualizer(data="/images/nobleSelf/delivery_software.svg" type="image/svg+xml")
      

  
  script(src='http://code.jquery.com/jquery-1.10.2.min.js')
  script(type='text/javascript', src='/scripts/noble_self.js')
