doctype html 
html 
  head 
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='/styles/project.css')
  body#noble-self
    include ../partials/nav.pug
    include ../partials/nbSelf_subnav.pug

    section.project-content
      h1.title Manifesto for the Noble Self 
      p.description A collaboration at the 
        a(href="http://sfpc.io" target="_blank") 
          span School of Poetic Computation 
        span produced as a podcast episode for 
        a(href="https://github.com/morehshin/TheRadicalOutside" target="_blank")
          span the Radical Outside, 
        | where we discussed what is at stake in the digital age: 
        em surveillance, digital colonialism, privacy/piracy, art and activism. 
      p.description While the internet offers us instances of sensational superficial trends to flock like swarms, it also provides safe havens for all clandestine congregations to write their own manifestos. 
        | Striked by the resurgent of 
        span.stress Manifestos 
        | as a genre for political agenda, we analyzed the anthology of 
        a(href="https://github.com/greyscalepress/manifestos/tree/master/content/manifestos" target="_blank")
          span.stress Manifesto for the Internet Age 
        | through Aristotles' modes of persuasion: 
        span.stress Ethos Pathos & Logos. 
        | Weeding out patterns of moral competences, emotional influences and rational reasoning. 
      
      include ../partials/nbSelf_persuasion.pug
      include ../partials/nbSelf_podcast.pug
      include ../partials/nbSelf_generated.pug

  
  script(src='http://code.jquery.com/jquery-1.10.2.min.js')
  script(type='text/javascript', src='/scripts/noble_self.js')
