doctype html 
html 
  head 
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='/styles/project.css')
  body
    include ../partials/nav.pug
    section.project-content
      h1.title Manifesto for the Noble Self 
      p.description A collaboration at the 
        a(href="http://sfpc.io" target="_blank") 
          span School of Poetic Computation 
        span produced as a podcast episode for 
        a(href="https://github.com/morehshin/TheRadicalOutside" target="_blank")
          span the Radical Outside, 
        | where we discussed what is at stake in the digital age: surveillance, digital colonialism, privacy/piracy, art and activism. 
      p.description While the internet offers us instances of sensational superficial trends to flock like swarms, it also provides safe havens for all clandestine congregations to write their own manifestos. 
        | Striked by the resurgent of 
        span.stress Manifesto 
        | as a genre for political agenda, we analyzed the anthology of 
        a(href="https://github.com/greyscalepress/manifestos/tree/master/content/manifestos" target="_blank")
          span.stress Manifesto for the Internet Age 
        | through Aristotles' modes of persuasion: 
        span.stress Ethos Pathos & Logos. 
        | Weeding out patterns of moral competences, emotional influences and rational reasoning. 

      div.box
        iframe(width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/356188508&amp;color=%23878787&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;show_teaser=false&amp;visual=true")
      
          
          
      p.description We looked for metaphors and simile, compared opposition accusations and resonated with calls to action. 
        examples :         
        
        | Applying linguistic methods, we were able to reconstructure new utterances that falls under similar sentence structures. 
      
      div.link 
        a(href="https://github.com/qclin/spacy_man_gen" target="_blank") [source code]
      
      p.description Generated excerpts with natural language processing.
      p.description Reading of the Sour Generation Manifesto by He Wei in English, Chinese, Japanese and German. 
      p.description Interview with Moreshin Allahyari on the production of Manifesto genre.

      p.description with Colin Wang, He Wei, Niklas May, & Yumi Nishida
